.container-max-width {
  max-width: 1180px;
  margin: auto;
}

.mB-5 {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}

.padding-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.bB {
  border-bottom: 1px solid #d4d4d4;
  margin-right: 2rem;
}

.list-style-none {
  list-style: none !important;
}

.pT-10 {
  padding-top: 10px;
}

.pB-10 {
  padding-bottom: 10px;
}

.underline {
  text-decoration: underline !important;
}

.mB-section {
  margin-bottom: 50px !important;
}

.mB-T2B {
  margin-bottom: 15px;
}

.pagewrap {
  height: 20px;
}

.col-sm-9 {
  width: 100% !important;
}

#scrollthis {
  padding: 57px 0px;
}

.scrolled>p {
  font-size: 16px;
}

#selectBox {
  display: block;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  border: none;
}

.static {
  z-index: 2;
  height: 100px;
  background-color: #fff;
  align-items: center;
  display: flex;
}

.footer-desc-mobile {
  font-size: 14px;
  font-weight: bold;
  color: #022737;
}

.position-scroll {
  position: fixed;
}

#page-wrap {
  position: absolute;
  overflow-y: scroll;
  width: 333px;
}

#generic-pagespage>.backgroundcolor {
  background-color: #ffffff;
}

.border>.pT-10 {
  padding-top: 0px;
}

.scroll-item:focus {
  outline: none;
}

.on-footer-visible {
  /* 
  position : absolute !important; */
  bottom: 5px;
  top: auto !important;
}

.container-link {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  letter-spacing: 1px;
}

.container-link a.read-more-link {
  color: #006778;
}

#scrollbox {
  position: relative;
  /*  padding-top:30px; */
  padding-top: 0px;
}

#scrollbox img, .mobile-content img {
  width: 100%;
}

#scrollbox table img, .mobile-content table img {
  width: auto !important;
}

#page-wrap::-webkit-scrollbar {
  width: 0px;
}

#page-wrap {
  -ms-overflow-style: none;
  overflow: auto;
}

.border .bB {
  border-bottom: none;
}

.head {
  padding-top: 10px !important;
  border-top: 1px solid #d4d4d4;
}

ul li:first-child {
  border-top: 1px solid transparent !important;
}

.body-in-content ol {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.body-in-con1tent ol>li {
  margin: 8px 0 8px 0px;
  padding: 0 0px 0 23px;
  text-indent: -1.5em;
  list-style-type: none;
  counter-increment: item;
  display: inline-flex;
}

.body-in-content ol>li {
  margin: 8px 0 8px 0px;
  padding: 0;
  /* text-indent: -1.5em; */
  list-style-type: none;
  counter-increment: item;
  display: inline-flex;
}

.wrapper.backgroundcolor {
  position: relative;
  width: 100%;
}

@-moz-document url-prefix() {
  .body-in-c1ontent ol>li {
    margin: 8px 0 8px 0px;
    padding: 0 0px 0 30px;
    text-indent: -1em;
    list-style-type: none;
    counter-increment: item;
    display: block;
  }
}

.body-in-conttent ol>li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  content: counter(item) ".";
}

.body-in-content ol>li:before {
  display: inline-block;
  width: 1.5em;
  padding-right: 2em;
  content: counter(item) ".";
}

.select2-container {
  width: 95%;
}

.select2-container .select2-choice .select2-arrow {
  border-radius: 0 !important;
}

@media only screen and (max-width: 768px) {
  .select2-container {
    width: 96.73%;
  }
  input[type="text"], input[type="select"] {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 425px) {
  .select2-container {
    width: 92.44%;
  }
}

@media only screen and (max-width: 375px) {
  .select2-container {
    width: 91.16%;
  }
}

@media only screen and (max-width: 320px) {
  .select2-container {
    width: 89.3%;
  }
}

#generic-pagespage input {
  display: none;
}

.select2-search {
  display: none !important;
}

.select2-search input {
  display: none !important;
}

.top-scroll .read-more-link>.new_arrow>.arrow_line {
  top: 4px;
}