{#
/**
 * @file
 * Bartik's theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
  {{ attach_library('scroll_to_topic/scroll') }}
<article{{attributes.addClass(classes)}}>
    <div class="container-max-width onlyforgeneric" id="title-body">
         <div class="breadcrumb-parent">{{ breadcrumb }}</div>
        <h1 class="mB-section">{{ label }}</h1> 
    </div>
    {% set count = 0 %}
    {% for i, item in node.field_heading_body_set_reference %}
        {% set count = count + 1 %}
    {% endfor %}
    {% if node.field_is_tree_structure.value is same as("1") %}
        {% set policy = 'mL-20' %}
        {% set border = 'border' %}
    {% else %}
        {% set policy = '' %}
        {% set border = '' %}
    {% endif %}
    <div class="container-max-width" id="generic-pagespage">
        <div
            class="flex" id="scrollthis  hidden-xs hidden-sm">
            {# Desktop #}
            {% if count > 3 %}
                <div class="hidden-xs hidden-sm" style="width:35%">
                    <div class="top-scroll" id="page-wrap">
                        <h4 class="mB-5 BerkeleyStd-Medium-text">Table of contents</h4>
                        {% set count = 0 %}
                        <ul class="padding-0 {{ border }}">
                            {% for i, item in node.field_heading_body_set_reference %}
                                {% set count = count + 1 %}
                                {% if node.field_heading_body_set_reference[i].entity.field_is_subheading.value is same as("1") %}
                                    <li class="bB head onlyforgeneric list-style-none color-noneforP pT-10 pB-10 generic-list">
                                        <a tabindex="{{node.field_heading_body_set_reference[i].entity.id() }}" class="scroll-item" href="#collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}" aria-label="#collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">
                                            <p class="teal-Font-Color underline">{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</p>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="{{ policy }} bB onlyforgeneric list-style-none color-noneforP pT-10 pB-10 generic-list">
                                        <a tabindex="{{node.field_heading_body_set_reference[i].entity.id() }}" class=" scroll-item" href="#collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}" aria-label="#collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">
                                            <p class="teal-Font-Color underline ">{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</p>
                                        </a>
                                    </li>
                                {% endif %}
                                {# <hr class="horizontal-line"/> #}
                            {% endfor %}
                        </ul>
                        {% if node.field_upload_pdf.entity.uri.value is not empty %}
                            <div class="mT-50 container-link mB-section justify-left">
                                <a target="_blank" class="read-more-link" href="{{ file_url(node.field_upload_pdf.entity.uri.value) }}">
                                    <span>DOWNLOAD PDF</span>
                                    <div class="new_arrow lg">
                                        <span class="arrow_line">
                                            <span></span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if count > 3 %}
                <div class="hidden-sm hidden-xs" style="width:65%;">
                {% else %}
                    <div class="hidden-sm hidden-xs" style="width:80%">
                    {% endif %}
                    <div class="" id="scrollbox">
                        {% for i, item in node.field_heading_body_set_reference %}
                            <div class="scrollhere  mB-section" id="collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">
                                {% if node.field_heading_body_set_reference[i].entity.field_heading.value is not empty %}
                                    {% if node.field_heading_body_set_reference[i].entity.field_is_subheading.value is same as("1") %}
                                        <h3 class="mB-T2B">{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</h3>
                                    {% else %}
                                        <h4 class="mB-T2B">{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</h4>
                                    {% endif %}
                                {% endif %}
                                {% if node.field_heading_body_set_reference[i].entity.field_content.value is not empty %}
                                    <div class="body-in-content common-Font-Color">{{node.field_heading_body_set_reference[i].entity.field_content.value | raw }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="mB-section on-footer-visible footer-desc-mobile">{{	content.field_generic_footer_description }}</div>
                </div>
            </div>
            {# Mobile #}

            <div class="wrapper backgroundcolor hidden-md hidden-lg">
                {% if count > 3 %}
                    <h4 class="mB-5 BerkeleyStd-Medium-text content-text-mobile">Table of contents</h4>
                    <div class="static">
                        <select class="page-wrap " id="selectBox">
                            {% for i, item in node.field_heading_body_set_reference %}
                                {% if node.field_heading_body_set_reference[i].entity.field_heading.value | length > 1 %}
                                    {% if node.field_is_tree_structure.value is same as("1") %}
                                        {% if node.field_heading_body_set_reference[i].entity.field_is_subheading.value is same as("1") %}
                                            <option value="mobile-collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">⁠{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</option>
                                        {% else %}
                                            <option value="mobile-collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">⁠—
                                                {{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</option>
                                        {% endif %}
                                    {% else %}
                                        <option value="mobile-collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">⁠{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
                <div class="mobile-content">
                    {% for i, item in node.field_heading_body_set_reference %}
                        <div class="scrollbox mB-section" id="mobile-collapse-{{ node.field_heading_body_set_reference[i].entity.id() }}">
                            {% if node.field_heading_body_set_reference[i].entity.field_heading.value | length > 1 %}
                                <h4 class="head-in-content mB-T2B">{{node.field_heading_body_set_reference[i].entity.field_heading.value | raw}}</h4>
                            {% endif %}
                            <div class="body-in-content common-Font-Color">{{node.field_heading_body_set_reference[i].entity.field_content.value | raw }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>
